/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  font-family: Inter, system-ui;
  overflow-x: hidden;
}



/* UNIVERSAL GLASS */
.glass {
  background: rgba(255,255,255,0.22);
  border: 1px solid rgba(255,255,255,0.35);
  backdrop-filter: blur(14px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.22);
  border-radius: 18px;
}
body {
    background: url("https://photo.znews.vn/w660/Uploaded/tmuitg/2016_10_13/12.jpg") no-repeat center center fixed;
    background-size: cover;
}
