/* ==== Ná»€N ==== */
.acc-page {
    background: url("https://photo.znews.vn/w660/Uploaded/tmuitg/2016_10_13/12.jpg")
    center/cover no-repeat fixed;
    margin: 0;
    padding: 40px 0;
    font-family: Inter, Arial;
}
body.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://i.imgur.com/KVq8Qqv.jpeg") center/cover fixed;
}

.login-box {
  width: 420px;
  padding: 40px;
  background: rgba(255,255,255,0.28);
  backdrop-filter: blur(16px);
  border-radius: 18px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.35);
}

.login-title {
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 10px;
}